<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= @player.name %>'s Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% unless @player.phone.to_s.empty? %>
        Phone Number: <%= @player.phone %>
        <% end %>

        <h4>Stats</h4>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th width="300">No. of Games Played</th>
              <td><%=@player.game_players.count%></td>
            </tr>
            <tr>
              <th>No. of Games Won</th>
              <td><%=@won_games.length%></td>
            </tr>
            <tr>
              <th>No. of Games Lost</th>
              <td><%=@lost_games.length%></td>
            </tr>
            <tr>
              <th>Average Score</th>
              <td><%=@player.game_players.average(:score).to_i%></td>
            </tr>
            <tr>
              <th>Highest Score</th>
              <td><%=@player.game_players.maximum(:score).to_i%></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>